* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
  
.menu-container {
color: #fff;
/* color: black; */
background-color: #5995DA;  /* Blue */
padding: 20px 0;
display: flex;
justify-content: center; /* 這行讓menu 置中對齊 */
}
  
.menu {
border: 1px solid #fff; 
width: 900px;
display: flex;
justify-content: space-between;
}


.links {
    display: flex;
    justify-content: flex-end;
}


.login {
    margin-left: 20px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}
    
.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between; /* 內容水平 平均分配 */
    align-items: center  ;  /* 定義垂直對齊 */
}